<h1>New dj_schedule</h1>

<%= render 'form' %>

<div id="external-events">
  <h4>Drag DJ slot onto calendar</h4>
  <div class="external-event">DJ Slot</div>
</div>

<br>

<div id="calendar-controls">
  <button id="duprestofweek-button" class="btn btn-primary">Copy Sunday To Rest Of Week</button>
</div>

<br>

<div id='calendar'></div>

<%= link_to 'Back', dj_schedules_path %>
