/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require fullcalendar
 *= require_self
 */

$brand-color: #33db9b;

@import "bootstrap-sprockets";
@import "bootstrap";

$nprogress-color: #33db9b;
@import 'nprogress';
@import 'nprogress-bootstrap';

a {
  color: #000000;
  text-decoration: none;

  &:hover {
    color: $brand-color;
    background-color: #FFFFFF;
  }
}

// Custom button colors
.btn-brand {
  @include button-variant(#FFFFFF, $brand-color, darken($brand-color, 10%));
}


// Navbar styling
div.nav-flex {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 1em 0;

  font-weight: lighter;

  display: -webkit-flex;
  display: flex;

  flex-flow: row;
  -webkit-flex-flow: row;

  justify-content: flex-end space-between;
  -webkit-justify-content: flex-end space-between;

  align-items: center;
  -webkit-align-items: center;

  div {
    font-size: 1.5em;
    margin: auto .5em auto;

    a:hover {
      text-decoration: none;
    }

    &.nav-brand {
      -webkit-align-self: flex-start;
      align-self: flex-start;

      font-size: 2em;
    }

    &.spacer {
      margin: auto;
    }
  }
}

main {
  margin-top: 3em;
}
